Repository ESTSOFT-iOS-01/B.READ, pull requests merged in 2025-06, with the labels that each got.

#123 [feature] 책빵 정렬 버튼 뷰 구현
  B.READ/B.READ/Sources/Data/Dummy/DummyService.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/LibraryUseCaseImpl.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/SortMenu.swift
  B.READ/B.READ/Sources/Presentation/Common/MainTabView.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryListView.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryView.swift
Labels: ✨ feature

#105 [feature] SentenceVM 구현 완료
  B.READ/B.READ/Sources/App/Coordinator/MainCoordinator.swift
  B.READ/B.READ/Sources/App/RootViewSwitcher.swift
  B.READ/B.READ/Sources/Domain/Entity/Quote.swift
  B.READ/B.READ/Sources/Domain/Repository/Stubs/BookRepositoryStub.swift
  B.READ/B.READ/Sources/Domain/UseCase/QuoteUseCase.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/QuoteUseCaseImpl.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/RoundedTextField.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/QuoteVO.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordDetailView.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordNotesSection.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/RecordDetailViewModel.swift
  B.READ/B.READ/Sources/Presentation/Sentence/PageInputView.swift
  B.READ/B.READ/Sources/Presentation/Sentence/SentenceInputView.swift
  B.READ/B.READ/Sources/Presentation/Sentence/SentenceViewModel.swift
Labels: ✨ feature

#134 [refactor] DTO 변경에 의한 기능 검토 및 리팩토링
  B.READ/B.READ/Sources/App/Coordinator/MainCoordinator.swift
  B.READ/B.READ/Sources/App/DIContainer/DIContainer.swift
  B.READ/B.READ/Sources/Data/DTOs/Record/MemoDTO.swift
  B.READ/B.READ/Sources/Data/DTOs/Record/QuoteDTO.swift
  B.READ/B.READ/Sources/Data/Impls/QuoteRepositoryImpl.swift
  B.READ/B.READ/Sources/Domain/Dummy/DummyData.swift
  B.READ/B.READ/Sources/Domain/UseCase/QuoteUseCase.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/QuoteUseCaseImpl.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/SortMenu.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/SortOption.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/MemoVO.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/QuoteVO.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/RecordCellVO.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/RecordDetailVO.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/SortState.swift
  B.READ/B.READ/Sources/Presentation/Home/HomeView.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryGridView.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryListCell.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryListView.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryView.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/RecordStatsView.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordBookSection.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordDetailView.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordNotesSection.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordStatsSection.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/LibraryViewModel.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/RecordDetailViewModel.swift
  B.READ/B.READ/Sources/Presentation/Memo/MemoView.swift
  B.READ/B.READ/Sources/Presentation/Memo/MemoViewModel.swift
  B.READ/B.READ/Sources/Presentation/Record/ViewModel/RecordQuoteViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/SearchResultView.swift
  B.READ/B.READ/Sources/Presentation/Sentence/PageInputView.swift
  B.READ/B.READ/Sources/Presentation/Sentence/SentenceInputView.swift
  B.READ/B.READ/Sources/Presentation/Sentence/SentenceViewModel.swift
Labels: ✨ feature, 🔨 refactor

#138 [feature] Lib Usecase Save 구현
  B.READ/B.READ/Sources/Data/Impls/BookRepositoryImpl.swift
  B.READ/B.READ/Sources/Domain/Repository/Stubs/RecordRepositoryStub.swift
  B.READ/B.READ/Sources/Domain/UseCase/LibraryUseCase.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/LibraryUseCaseImpl.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/RecommandUseCaseImpl.swift
  B.READ/UsecaseTest/LibraryUseCaseTest.swift
Labels: ✨ feature

#141 [feature] RecordDetail 플로팅 메뉴 추가
  B.READ/B.READ/Sources/App/RootViewSwitcher.swift
  B.READ/B.READ/Sources/Presentation/Home/HomeViewModel.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordDetailView.swift
  B.READ/B.READ/Sources/Presentation/Setting/SettingViewModel.swift
  B.READ/B.READ/Sources/Util/Extensions/UINavigationBar+.swift
Labels: ✨ feature

#146 [chore] 이미지 에셋 및 앱 아이콘 세팅
  B.READ/B.READ/Resources/Assets.xcassets/Image/AIBread.imageset/AIBread.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/AIBread.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/AppIcon.appiconset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/AppIcon.appiconset/appstore 1.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/AppIcon.appiconset/appstore 2.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/AppIcon.appiconset/appstore.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/BreadButton.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/BreadButton.imageset/Frame 1707482023.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/BreadButton.imageset/Frame 1707482023@2x.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/BreadButton.imageset/Frame 1707482023@3x.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/LoadingBread.imageset/Bread_Loading.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/LoadingBread.imageset/Bread_Loading@2x.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/LoadingBread.imageset/Bread_Loading@3x.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/LoadingBread.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/MenuBread.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/MenuBread.imageset/menuBread.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/SplashImage.imageset/ChatGPT Image 2025년 6월 7일 오후 02_20_53 1.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/SplashImage.imageset/ChatGPT Image 2025년 6월 7일 오후 02_20_53 1@2x.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/SplashImage.imageset/ChatGPT Image 2025년 6월 7일 오후 02_20_53 1@3x.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/SplashImage.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/SplashLogo.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/SplashLogo.imageset/Rectangle.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/SplashLogo.imageset/Rectangle@2x.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/SplashLogo.imageset/Rectangle@3x.png
  B.READ/B.READ/Sources/Presentation/Home/HomeView.swift
  B.READ/B.READ/Sources/Presentation/OnBoarding/SplashView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Components/LoadingView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/BookDetailView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/SearchResultView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/SearchView.swift
Labels: ⚙️ chore, ✨ feature

#144 [feature] 독서 기록 수정하기 기능 연결
  B.READ/B.READ/Sources/App/Coordinator/MainCoordinator.swift
  B.READ/B.READ/Sources/App/RootViewSwitcher.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/RecordDetailVO.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordDetailView.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/RecordDetailViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/BookViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/NewRecordViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Components/CustomTextEditor.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Components/ReadStateButton.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/BookDetailView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/CreateRecordView.swift
  B.READ/UsecaseTest/LibraryUseCaseTest.swift
Labels: ✨ feature

#148 [feature] 책빵, 독서 기록 조회, 기록 화면 정렬 구현
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Sources/DesignSystem/Icon/SFSymbol.swift
  B.READ/B.READ/Sources/Domain/Dummy/DummyService.swift
  B.READ/B.READ/Sources/Domain/UseCase/MemoUseCase.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/MemoUseCaseImpl.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/MemoCell.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/QuoteCell.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/SortMenu.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/SortOption.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/MemoVO.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/NoteVO.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/QuoteVO.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryView.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordDetailView.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordNotesSection.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/LibraryViewModel.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/RecordDetailViewModel.swift
  B.READ/B.READ/Sources/Presentation/Memo/MemoViewModel.swift
  B.READ/B.READ/Sources/Presentation/Record/View/MemoListView.swift
  B.READ/B.READ/Sources/Presentation/Record/View/NoteListCell.swift
  B.READ/B.READ/Sources/Presentation/Record/View/NoteListview.swift
  B.READ/B.READ/Sources/Presentation/Record/View/QuoteListView.swift
  B.READ/B.READ/Sources/Presentation/Record/View/RecordMemoView.swift
  B.READ/B.READ/Sources/Presentation/Record/View/RecordNoteView.swift
  B.READ/B.READ/Sources/Presentation/Record/View/RecordQuoteView.swift
  B.READ/B.READ/Sources/Presentation/Record/View/RecordView.swift
  B.READ/B.READ/Sources/Presentation/Record/ViewModel/RecordMemoViewModel.swift
  B.READ/B.READ/Sources/Presentation/Record/ViewModel/RecordNoteViewModel.swift
  B.READ/B.READ/Sources/Presentation/Record/ViewModel/RecordQuoteViewModel.swift
Labels: ✨ feature

#158 [bug] 중간 점검 때 발견한 버그 수정 및 UX관련 부가 기능 추가
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Sources/App/Coordinator/MainCoordinator.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/SearchBar.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/BookViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/NewRecordViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/SearchResultViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Components/LoadingView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/BookDetailView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/CreateRecordView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/SearchResultView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/SearchView.swift
Labels: 🐞 bug, ✨ feature

#156 [feature] 상단 탭 아이콘 적용 및 LibraryViewModel 리팩
  B.READ/B.READ/Sources/Presentation/Common/Components/TopTabBar.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordDetailView.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/LibraryViewModel.swift
  B.READ/B.READ/Sources/Presentation/Record/View/RecordView.swift
Labels: ✨ feature, 🔨 refactor

#153 [feature] 검색 기능 구현
  B.READ/B.READ/Sources/DesignSystem/Font/FontStyleModifier.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/MemoCell.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/QuoteCell.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/MemoVO.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/QuoteVO.swift
  B.READ/B.READ/Sources/Presentation/Record/View/MemoListView.swift
  B.READ/B.READ/Sources/Presentation/Record/View/QuoteListView.swift
  B.READ/B.READ/Sources/Presentation/Record/View/RecordMemoView.swift
  B.READ/B.READ/Sources/Presentation/Record/View/RecordNoteView.swift
  B.READ/B.READ/Sources/Presentation/Record/View/RecordQuoteView.swift
  B.READ/B.READ/Sources/Presentation/Record/ViewModel/RecordMemoViewModel.swift
  B.READ/B.READ/Sources/Presentation/Record/ViewModel/RecordNoteViewModel.swift
  B.READ/B.READ/Sources/Presentation/Record/ViewModel/RecordQuoteViewModel.swift
  B.READ/B.READ/Sources/Util/Extensions/StringProtocol+.swift
Labels: ✨ feature

#164 [bugfix] 메모 뷰 버그 수정
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Sources/Presentation/Common/LoadingView.swift
  B.READ/B.READ/Sources/Presentation/Home/HomeView.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordDetailView.swift
  B.READ/B.READ/Sources/Presentation/Login/LoginView.swift
  B.READ/B.READ/Sources/Presentation/Memo/MemoView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Components/CustomTextEditor.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Components/ReadStateButton.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/BookDetailView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/SearchResultView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/SearchView.swift
Labels: ✨ feature

#168 [bug] 문장 수정 시 기존 페이지 패치버그 수정
  B.READ/B.READ/Sources/App/Coordinator/MainCoordinator.swift
  B.READ/B.READ/Sources/Data/DTOs/Record/RecordDTO.swift
  B.READ/B.READ/Sources/Domain/Dummy/DummyService.swift
  B.READ/B.READ/Sources/Domain/UseCase/QuoteUseCase.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/QuoteUseCaseImpl.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/QuoteVO.swift
  B.READ/B.READ/Sources/Presentation/Sentence/PageInputView.swift
  B.READ/B.READ/Sources/Presentation/Sentence/PageInputViewModel.swift
  B.READ/B.READ/Sources/Presentation/Sentence/SentenceInputView.swift
  B.READ/B.READ/Sources/Presentation/Sentence/SentenceInputViewModel.swift
  B.READ/B.READ/Sources/Presentation/Sentence/SentenceViewModel.swift
  B.READ/B.READ/Sources/Util/Extensions/String+.swift
  B.READ/B.READ/Sources/Util/Extensions/View+.swift
  B.READ/UsecaseTest/QuoteUseCaseTest.swift
Labels: 🐞 bug, ✨ feature, 🔨 refactor

#167 [feature] SummaryRepo & Usecase 설계 및 구현
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Sources/Data/DTOs/Record/SummaryDTO.swift
  B.READ/B.READ/Sources/Data/DTOs/Record/TagDTO.swift
  B.READ/B.READ/Sources/Data/Impls/SummaryRepositoryImpl.swift
  B.READ/B.READ/Sources/Domain/Dummy/DummyData.swift
  B.READ/B.READ/Sources/Domain/Entity/AlanSummary.swift
  B.READ/B.READ/Sources/Domain/Repository/Inerface/SummaryRepository.swift
  B.READ/B.READ/Sources/Domain/UseCase/SummaryUseCase.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/SummaryUseCaseImpl.swift
  B.READ/B.READ/Sources/Network/NetworkClient/NetworkClient.swift
  B.READ/RepositoryTest/SummaryRepositoryTest.swift
  B.READ/UsecaseTest/SummaryUseCaseTest.swift
Labels: ✨ feature

#170 [feature] Streak 업데이트 로직 추가
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Sources/App/DIContainer/DIContainer.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/LibraryUseCaseImpl.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/MemoUseCaseImpl.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/ProfileUseCaseImpl.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/QuoteUseCaseImpl.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/SummaryUseCaseImpl.swift
  B.READ/B.READ/Sources/Presentation/Setting/SettingViewModel.swift
  B.READ/B.READ/Sources/Util/Extensions/Date+.swift
  B.READ/UsecaseTest/LibraryUseCaseTest.swift
  B.READ/UsecaseTest/MemoUseCaseTest.swift
  B.READ/UsecaseTest/QuoteUseCaseTest.swift
Labels: ✨ feature

#171 [feature] Summary UI 구현
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Sources/App/Coordinator/MainCoordinator.swift
  B.READ/B.READ/Sources/Network/Aladin/AladinRouter.swift
  B.READ/B.READ/Sources/Network/NetworkClient/NetworkClient.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/InfoView.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/InnerContentView.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/MultiInfoView.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/SummaryVO.swift
  B.READ/B.READ/Sources/Presentation/Record/View/AlanSummaryView.swift
  B.READ/B.READ/Sources/Presentation/Record/ViewModel/SummaryViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/BestSellerViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/BookViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/NewRecordViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/RecentSearchViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/ScanViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/SearchInputViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/SearchResultViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/BookDetailView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/CreateRecordView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/ScanView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/SearchView.swift
Labels: ✨ feature

#178 [feature] 로딩화면 및 데이터 없을 때 보여줄 화면 구현
  B.READ/B.READ/Sources/Presentation/Common/LoadingView.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryView.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/LibraryViewModel.swift
  B.READ/B.READ/Sources/Presentation/Record/View/RecordMemoView.swift
  B.READ/B.READ/Sources/Presentation/Record/View/RecordNoteView.swift
  B.READ/B.READ/Sources/Presentation/Record/View/RecordQuoteView.swift
  B.READ/B.READ/Sources/Presentation/Record/ViewModel/RecordMemoViewModel.swift
  B.READ/B.READ/Sources/Presentation/Record/ViewModel/RecordNoteViewModel.swift
  B.READ/B.READ/Sources/Presentation/Record/ViewModel/RecordQuoteViewModel.swift
Labels: ✨ feature

#180 [feature] 제작한 뷰 애니메이션 적용
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Sources/Presentation/Common/Components/SortMenu.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryGridView.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryListView.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryView.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordDetailView.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordNotesSection.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/LibraryViewModel.swift
  B.READ/B.READ/Sources/Presentation/Record/View/MemoListView.swift
  B.READ/B.READ/Sources/Presentation/Record/View/NoteListview.swift
  B.READ/B.READ/Sources/Presentation/Record/View/QuoteListView.swift
  B.READ/B.READ/Sources/Presentation/Record/View/RecordView.swift
  B.READ/B.READ/Sources/Presentation/Record/ViewModel/RecordQuoteViewModel.swift
  B.READ/B.READ/Sources/Util/Extensions/StringProtocol+.swift
Labels: ✨ feature

#187 [feature] ViewModelFactory 구현
  B.READ/B.READ/Sources/App/Coordinator/MainCoordinator.swift
  B.READ/B.READ/Sources/App/DIContainer/ViewModelFactory.swift
  B.READ/B.READ/Sources/Presentation/Common/MainTabView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/SearchView.swift
Labels: ✨ feature

#188 [feature] 기록탭 요약노트 파트를 구현
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Sources/Data/Impls/RecordRepositoryImpl.swift
  B.READ/B.READ/Sources/Domain/Repository/Inerface/RecordRepository.swift
  B.READ/B.READ/Sources/Domain/Repository/Stubs/RecordRepositoryStub.swift
  B.READ/B.READ/Sources/Domain/UseCase/SummaryUseCase.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/SummaryUseCaseImpl.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/NoteVO.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordStatsSection.swift
  B.READ/B.READ/Sources/Presentation/Record/View/MemoListView.swift
  B.READ/B.READ/Sources/Presentation/Record/View/NoteListCell.swift
  B.READ/B.READ/Sources/Presentation/Record/View/NoteListview.swift
  B.READ/B.READ/Sources/Presentation/Record/View/QuoteListView.swift
  B.READ/B.READ/Sources/Presentation/Record/View/RecordNoteView.swift
  B.READ/B.READ/Sources/Presentation/Record/ViewModel/RecordNoteViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/SearchResultViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/SearchView.swift
  B.READ/RepositoryTest/RecordRepositoryTest.swift
  B.READ/UsecaseTest/SummaryUseCaseTest.swift
Labels: ✨ feature

#190 [feature] 구현한 파트에 대한 에러처리와 태스크캔슬
  B.READ/B.READ/Sources/App/DIContainer/DIContainer.swift
  B.READ/B.READ/Sources/App/RootViewSwitcher.swift
  B.READ/B.READ/Sources/Domain/Entity/Book.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/LibraryUseCaseImpl.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/MemoUseCaseImpl.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/QuoteUseCaseImpl.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/RecordPropertyRow.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/SortMenu.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/RecordDetailVO.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryGridView.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryListCell.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/RecordStatsView.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordBookSection.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/LibraryViewModel.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/RecordDetailViewModel.swift
  B.READ/B.READ/Sources/Presentation/Record/ViewModel/RecordMemoViewModel.swift
  B.READ/B.READ/Sources/Presentation/Record/ViewModel/RecordQuoteViewModel.swift
  B.READ/UsecaseTest/LibraryUseCaseTest.swift
Labels: ✨ feature, 🔨 refactor

#191 [docs] README를 작성합니다.
  Code Convention.md
  README.md
Labels: 📃 docs, ✨ feature

#193 [refactor] test 코드 점검
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Sources/Data/Impls/QuoteRepositoryImpl.swift
  B.READ/B.READ/Sources/Domain/Dummy/DummyData.swift
  B.READ/RepositoryTest/QuoteRepositoryTest.swift
  B.READ/RepositoryTest/RecordRepositoryTest.swift
  B.READ/RepositoryTest/SummaryRepositoryTest.swift
  B.READ/RepositoryTest/UserInfoRepositoryTest.swift
  B.READ/ServiceTest/BookServiceTest.swift
  B.READ/UsecaseTest/LibraryUseCaseTest.swift
  B.READ/UsecaseTest/MemoUseCaseTest.swift
  B.READ/UsecaseTest/QuoteUseCaseTest.swift
Labels: ✨ feature, 🔨 refactor, ✅ test
