Repository ESTSOFT-iOS-01/B.READ, pull requests merged in 2025-05, with the labels that each got.

#14 [chore] Issue&PR 템플릿 일부 수정
  .github/ISSUE_TEMPLATE/setting-task.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ⚙️ chore, ✨ feature

#24 [feature] 컴포넌트 버튼 개발 완료
  B.READ/B.READ/Sources/Presentation/Common/BottomButton.swift
Labels: ✨ feature

#22 [feature] MainTabView 추가
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ.xcodeproj/project.xcworkspace/xcuserdata/shinseungjae.xcuserdatad/UserInterfaceState.xcuserstate
  B.READ/B.READ/Sources/App/B_READApp.swift
  B.READ/B.READ/Sources/Presentation/Common/ContentView.swift
  B.READ/B.READ/Sources/Presentation/Common/MainTabView.swift
Labels: ✨ feature

#25 [feature] TopTabBar 구현
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Resources/Assets.xcassets/Color/Gray0.colorset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Color/Gray1.colorset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Color/Gray2.colorset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Color/Gray3.colorset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Color/Gray5.colorset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Color/Gray7.colorset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Color/Gray9.colorset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/Donut.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/Donut.imageset/Donut.png
  B.READ/B.READ/Sources/Presentation/Common/Components/TopTabBar.swift
Labels: ✨ feature

#28 [feature] QuoteCell, MemoCell, BookSearchCell구현
  B.READ/B.READ/Resources/Assets.xcassets/ExampleBookImage.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/ExampleBookImage.imageset/ExampleBookImage.png
  B.READ/B.READ/Sources/Presentation/Common/BookSearchCell.swift
  B.READ/B.READ/Sources/Presentation/Common/MemoCell.swift
  B.READ/B.READ/Sources/Presentation/Common/QuoteCell.swift
  B.READ/B.READ/Sources/Presentation/Common/RoundedCorner.swift
  B.READ/B.READ/Sources/Util/Extensions/Date+.swift
Labels: ✨ feature

#32 [feature] 온보딩 뷰 구현
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Resources/Assets.xcassets/Image/AssistantBread.imageset/AssistantBread.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/AssistantBread.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/ConnectBread.imageset/ConnectBread.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ConnectBread.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/GuideBread.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/GuideBread.imageset/GuideBread.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ReadBread.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/ReadBread.imageset/ReadBread.png
  B.READ/B.READ/Sources/Presentation/Common/Components/BookSearchCell.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/BottomButton.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/MemoCell.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/QuoteCell.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/RoundedCorner.swift
  B.READ/B.READ/Sources/Presentation/OnBoarding/OnBoardingStep.swift
  B.READ/B.READ/Sources/Presentation/OnBoarding/OnBoardingView.swift
Labels: ✨ feature

#33 [feature] 공통컴포넌트 입력창 개발 완료
  B.READ/B.READ/Sources/Presentation/Common/RoundedTextField.swift
Labels: ✨ feature

#37 [feature] 프로그래스바 구현
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Resources/Assets.xcassets/Image/Bread0.imageset/Bread0.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/Bread0.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/Bread1.imageset/Bread1.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/Bread1.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/Bread2.imageset/Bread2.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/Bread2.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/Bread3.imageset/Bread3.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/Bread3.imageset/Contents.json
  B.READ/B.READ/Sources/Presentation/Library/PageProgressbar.swift
  B.READ/B.READ/Sources/Presentation/Library/ProgressState.swift
Labels: ✨ feature

#44 [chore] Entity 추가
  B.READ/B.READ/Sources/Domain/.gitkeep
  B.READ/B.READ/Sources/Domain/Entity/AlanSummary.swift
  B.READ/B.READ/Sources/Domain/Entity/Book.swift
  B.READ/B.READ/Sources/Domain/Entity/Memo.swift
  B.READ/B.READ/Sources/Domain/Entity/Quote.swift
  B.READ/B.READ/Sources/Domain/Entity/Record.swift
  B.READ/B.READ/Sources/Domain/Entity/UserInfo.swift
Labels: ⚙️ chore

#50 [chore] 프로젝트 보드 자동화 추가
  .github/workflows/Project_Board_Automation.yml
Labels: ⚙️ chore, ✨ feature

#51 [feature] 책빵 화면 구현
  B.READ/B.READ/Sources/Data/Dummy/BookDummy.swift
  B.READ/B.READ/Sources/Data/Dummy/DummyData.swift
  B.READ/B.READ/Sources/Data/Dummy/RecordDummy.swift
  B.READ/B.READ/Sources/DesignSystem/FontStyleModifier.swift
  B.READ/B.READ/Sources/Presentation/Common/MainTabView.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryConstants.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView.swift
  B.READ/B.READ/Sources/Presentation/Library/View/LibraryGridView.swift
  B.READ/B.READ/Sources/Presentation/Library/View/LibraryListCell.swift
  B.READ/B.READ/Sources/Presentation/Library/View/LibraryListView.swift
  B.READ/B.READ/Sources/Presentation/Library/View/LibraryView.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/LibraryViewModel.swift
Labels: ✨ feature

#47 [feature] UserInfoDTO, Repository Interface, Stub, Impl 구현
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Sources/Data/.gitkeep
  B.READ/B.READ/Sources/Data/DTOs/UserInfo/CategoryDTO.swift
  B.READ/B.READ/Sources/Data/DTOs/UserInfo/DailyStatusDTO.swift
  B.READ/B.READ/Sources/Data/DTOs/UserInfo/KeywordDTO.swift
  B.READ/B.READ/Sources/Data/DTOs/UserInfo/UserInfoDTO.swift
  B.READ/B.READ/Sources/Data/Error/RepositoryError.swift
  B.READ/B.READ/Sources/Data/Impls/UserInfoRepositoryImpl.swift
  B.READ/B.READ/Sources/Data/Storage/SwiftDataStorage.swift
  B.READ/B.READ/Sources/Domain/Entity/UserInfo.swift
  B.READ/B.READ/Sources/Domain/Repository/Inerface/UserInfoRepository.swift
  B.READ/B.READ/Sources/Domain/Repository/Stubs/UserInfoRepositoryStub.swift
  B.READ/B.READTests/Storage/SwiftDataTestStorage.swift
  B.READ/B.READTests/UserInfoRepository/DummyData.swift
  B.READ/B.READTests/UserInfoRepository/UserInfoRepositoryTests.swift
Labels: ✨ feature, ✅ test

#59 [feature] ProfileUseCase 구현
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Sources/Domain/CategoryTemp.swift
  B.READ/B.READ/Sources/Domain/Entity/UserInfo.swift
  B.READ/B.READ/Sources/Domain/UseCase/ProfileUseCase.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/ProfileUseCaseImpl.swift
  B.READ/B.READ/Sources/Presentation/Common/CategorySelectionView.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/InputGuideHeader.swift
  B.READ/B.READTests/Repository/DummyData.swift
  B.READ/B.READTests/Repository/UserInfoRepositoryTest.swift
  B.READ/B.READTests/UseCase/ProfileUseCaseTest.swift
Labels: ✨ feature

#57 [feature] 문장 작성 및 페이지 작성 뷰 개발 완료
  B.READ/B.READ/Sources/Presentation/Sentence/PageInputView.swift
  B.READ/B.READ/Sources/Presentation/Sentence/SentenceInputView.swift
Labels: ✨ feature

#63 [feature] 네트워크 모듈 설계
  .gitignore
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Resources/APIConfig/APIUrl.plist
  B.READ/B.READ/Sources/Domain/Repository/Error/RepositoryError.swift
  B.READ/B.READ/Sources/Domain/Service/Interface/AIService.swift
  B.READ/B.READ/Sources/Domain/Service/Stub/AIServiceStub.swift
  B.READ/B.READ/Sources/Network/.gitkeep
  B.READ/B.READ/Sources/Network/Alan/AlanAPI.swift
  B.READ/B.READ/Sources/Network/Alan/AlanError.swift
  B.READ/B.READ/Sources/Network/Alan/AlanRouter.swift
  B.READ/B.READ/Sources/Network/Alan/AlanService.swift
  B.READ/B.READ/Sources/Network/Alan/ResponseModel.swift
  B.READ/B.READ/Sources/Network/NetworkClient/GlobalAlias.swift
  B.READ/B.READ/Sources/Network/NetworkClient/HTTPMethod.swift
  B.READ/B.READ/Sources/Network/NetworkClient/NetworkClient.swift
  B.READ/B.READ/Sources/Network/NetworkClient/RequestConvertible.swift
  B.READ/B.READ/Sources/Util/Extensions/Bundle+.swift
  B.READ/B.READTests/Service/AIServiceTest.swift
Labels: ✨ feature

#66 [feature] Book/Record DTO, Repository Interface, Stub, Impl 구현
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Sources/Data/DTOs/Record/BookDTO.swift
  B.READ/B.READ/Sources/Data/DTOs/Record/RecordDTO.swift
  B.READ/B.READ/Sources/Data/Dummy/DummyData.swift
  B.READ/B.READ/Sources/Data/Impls/BookRepositoryImpl.swift
  B.READ/B.READ/Sources/Data/Impls/RecordRepositoryImpl.swift
  B.READ/B.READ/Sources/Data/Storage/SwiftDataStorage.swift
  B.READ/B.READ/Sources/Domain/Entity/Book.swift
  B.READ/B.READ/Sources/Domain/Entity/Record.swift
  B.READ/B.READ/Sources/Domain/Repository/Inerface/BookRepository.swift
  B.READ/B.READ/Sources/Domain/Repository/Inerface/RecordRepository.swift
  B.READ/B.READ/Sources/Domain/Repository/Stubs/BookRepositoryStub.swift
  B.READ/B.READ/Sources/Domain/Repository/Stubs/RecordRepositoryStub.swift
  B.READ/B.READTests/Repository/BookRepositoryTest.swift
  B.READ/B.READTests/Repository/DummyData.swift
  B.READ/B.READTests/Repository/Record+.swift
  B.READ/B.READTests/Repository/RecordRepositoryTest.swift
  B.READ/B.READTests/Storage/SwiftDataTestStorage.swift
Labels: ✨ feature

#69 [chore] 빌드 자동화 워크플로 추가
  .github/workflows/build_check_auto.yaml
Labels: ⚙️ chore, ✨ feature

#64 [feature] Quote DTO, Repo, Stub, Impl 개발 완료
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Sources/Data/DTOs/Record/QuoteDTO.swift
  B.READ/B.READ/Sources/Data/Impls/QuoteRepositoryImpl.swift
  B.READ/B.READ/Sources/Data/Storage/SwiftDataStorage.swift
  B.READ/B.READ/Sources/Domain/Entity/Quote.swift
  B.READ/B.READ/Sources/Domain/Repository/Inerface/QuoteRepository.swift
  B.READ/B.READ/Sources/Domain/Repository/Stubs/QuoteRepositoryStub.swift
  B.READ/B.READTests/Helper/DummyData.swift
  B.READ/B.READTests/Helper/Record+.swift
  B.READ/B.READTests/Repository/QuoteRepositoryTest.swift
  B.READ/B.READTests/Storage/SwiftDataTestStorage.swift
Labels: ✨ feature

#70 [feature] 마이페이지 뷰 구현
  B.READ/B.READ/Resources/Assets.xcassets/ReadBreadMyPage.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/ReadBreadMyPage.imageset/ReadBreadMyPage.png
  B.READ/B.READ/Resources/Assets.xcassets/StampF.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/StampF.imageset/StampF.png
  B.READ/B.READ/Resources/Assets.xcassets/StampM.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/StampM.imageset/StampM.png
  B.READ/B.READ/Resources/Assets.xcassets/StampS.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/StampS.imageset/StampS.png
  B.READ/B.READ/Resources/Assets.xcassets/StampT.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/StampT.imageset/StampT.png
  B.READ/B.READ/Resources/Assets.xcassets/StampW.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/StampW.imageset/StampW.png
  B.READ/B.READ/Sources/Presentation/MyPage/MyPageView.swift
Labels: ✨ feature

#77 [feature] 독서 기록 조회 화면 구현
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Sources/Data/Dummy/DummyData.swift
  B.READ/B.READ/Sources/Data/Impls/RecordRepositoryImpl.swift
  B.READ/B.READ/Sources/Domain/Entity/Memo.swift
  B.READ/B.READ/Sources/Domain/Entity/Quote.swift
  B.READ/B.READ/Sources/Domain/Entity/Record.swift
  B.READ/B.READ/Sources/Domain/Repository/Inerface/RecordRepository.swift
  B.READ/B.READ/Sources/Domain/Repository/Stubs/BookRepositoryStub.swift
  B.READ/B.READ/Sources/Domain/Repository/Stubs/RecordRepositoryStub.swift
  B.READ/B.READ/Sources/Presentation/Common/Components/ScoreBoardView.swift
  B.READ/B.READ/Sources/Presentation/Common/MainTabView.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryConstants.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryGridView.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryListCell.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryListView.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryView.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/RecordStatsView.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/PageProgressbar.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/ProgressState.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordBookSection.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordDetailView.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordNotesSection.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordStatsSection.swift
  B.READ/B.READ/Sources/Presentation/Library/View/LibraryListCell.swift
  B.READ/B.READ/Sources/Presentation/Library/View/LibraryListView.swift
  B.READ/B.READ/Sources/Presentation/Library/View/LibraryView.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/LibraryRecordVO.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/LibraryViewModel.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/RecordDetailViewModel.swift
  B.READ/B.READTests/Repository/RecordRepositoryTest.swift
  B.READ/B.READTests/UserInfoRepository/DummyData.swift
  B.READ/B.READTests/UserInfoRepository/UserInfoRepositoryTests.swift
Labels: ✨ feature

#74 [feature] QuoteUseCase구현
  B.READ/B.READ/Sources/Domain/UseCase/QuoteUseCase.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/QuoteUseCaseImpl.swift
  B.READ/B.READTests/Helper/DummyData.swift
  B.READ/B.READTests/UseCase/QuoteUseCaseTest.swift
Labels: ✨ feature

#79 [feature] OnBoarding&MyPage Coordinator
  B.READ/B.READ/Sources/App/B_READApp.swift
  B.READ/B.READ/Sources/App/Coordinator/Coordinator.swift
  B.READ/B.READ/Sources/App/Coordinator/CoordinatorContainer.swift
  B.READ/B.READ/Sources/App/Coordinator/MainCoordinator.swift
  B.READ/B.READ/Sources/App/Coordinator/OnBoardingCoordinator.swift
  B.READ/B.READ/Sources/App/Coordinator/Route.swift
  B.READ/B.READ/Sources/App/RootViewSwitcher.swift
  B.READ/B.READ/Sources/DesignSystem/Font.swift
  B.READ/B.READ/Sources/Presentation/Common/MainTabView.swift
  B.READ/B.READ/Sources/Presentation/Login/LoginView.swift
  B.READ/B.READ/Sources/Presentation/MyPage/MyPageView.swift
  B.READ/B.READ/Sources/Presentation/OnBoarding/OnBoardingView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/BookDetailView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/ScanView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/SearchResultView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/SearchView.swift
  B.READ/B.READ/Sources/Presentation/Setting/CategorySelectionView.swift
  B.READ/B.READ/Sources/Presentation/Setting/NicknameView.swift
  B.READ/B.READ/Sources/Presentation/Setting/SettingViewModel.swift
  B.READ/B.READ/Sources/Util/Extensions/UINavigationBar+.swift
Labels: ✨ feature

#87 [feature] DIContainer 및 SettingViewModel UseCase 연결
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Sources/App/DIContainer/DIContainer.swift
  B.READ/B.READ/Sources/App/RootViewSwitcher.swift
  B.READ/B.READ/Sources/Data/Impls/UserInfoRepositoryImpl.swift
  B.READ/B.READ/Sources/Domain/Entity/UserInfo.swift
  B.READ/B.READ/Sources/Domain/UseCaseImpl/ProfileUseCaseImpl.swift
  B.READ/B.READ/Sources/Presentation/MyPage/MyPageView.swift
  B.READ/B.READ/Sources/Presentation/Setting/CategorySelectionView.swift
  B.READ/B.READ/Sources/Presentation/Setting/NicknameView.swift
  B.READ/B.READ/Sources/Presentation/Setting/SettingViewModel.swift
Labels: ✨ feature

#97 [feature] 메모 작성 UI 구현 및 UINavigation 스타일 변경
  B.READ/B.READ/Sources/App/Coordinator/MainCoordinator.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordDetailView.swift
  B.READ/B.READ/Sources/Presentation/Memo/MemoView.swift
  B.READ/B.READ/Sources/Presentation/Setting/CategorySelectionView.swift
  B.READ/B.READ/Sources/Presentation/Setting/NicknameView.swift
  B.READ/B.READ/Sources/Util/Extensions/Date+.swift
  B.READ/B.READ/Sources/Util/Extensions/UINavigationBar+.swift
Labels: ✨ feature

#102 [feature] 기록 등록/수정 UI 구현 + Sheet Coordinator 추가
  B.READ/B.READ.xcodeproj/project.pbxproj
  B.READ/B.READ/Resources/Assets.xcassets/Image/ReadSelected.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/ReadSelected.imageset/Frame 1707482017.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ReadSelected.imageset/Frame 1707482017@2x.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ReadSelected.imageset/Frame 1707482017@3x.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ReadUnSelected.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/ReadUnSelected.imageset/Frame 1707482018.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ReadUnSelected.imageset/Frame 1707482018@2x.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ReadUnSelected.imageset/Frame 1707482018@3x.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ReadingSelected.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/ReadingSelected.imageset/Frame 1707482021.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ReadingSelected.imageset/Frame 1707482021@2x.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ReadingSelected.imageset/Frame 1707482021@3x.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ReadingUnSelected.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/ReadingUnSelected.imageset/Frame 1707482019.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ReadingUnSelected.imageset/Frame 1707482019@2x.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ReadingUnSelected.imageset/Frame 1707482019@3x.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ToReadSelected.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/ToReadSelected.imageset/Frame 1707482022.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ToReadSelected.imageset/Frame 1707482022@2x.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ToReadSelected.imageset/Frame 1707482022@3x.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ToReadUnSelected.imageset/Contents.json
  B.READ/B.READ/Resources/Assets.xcassets/Image/ToReadUnSelected.imageset/Frame 1707482020.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ToReadUnSelected.imageset/Frame 1707482020@2x.png
  B.READ/B.READ/Resources/Assets.xcassets/Image/ToReadUnSelected.imageset/Frame 1707482020@3x.png
  B.READ/B.READ/Sources/App/Coordinator/Coordinator.swift
  B.READ/B.READ/Sources/App/Coordinator/CoordinatorContainer.swift
  B.READ/B.READ/Sources/App/Coordinator/MainCoordinator.swift
  B.READ/B.READ/Sources/App/RootViewSwitcher.swift
  B.READ/B.READ/Sources/Network/Aladin/AladinRouter.swift
  B.READ/B.READ/Sources/Presentation/Home/HomeView.swift
  B.READ/B.READ/Sources/Presentation/Home/HomeViewModel.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryListCell.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryListView.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/RecordStatsView.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordDetailView.swift
  B.READ/B.READ/Sources/Presentation/Library/RecordView/RecordNotesSection.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/LibraryRecordVO.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/LibraryViewModel.swift
  B.READ/B.READ/Sources/Presentation/Login/LoginView.swift
  B.READ/B.READ/Sources/Presentation/Memo/MemoView.swift
  B.READ/B.READ/Sources/Presentation/MyPage/MyPageView.swift
  B.READ/B.READ/Sources/Presentation/OnBoarding/OnBoardingView.swift
  B.READ/B.READ/Sources/Presentation/Search/SearchVOModel.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/BookViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/NewRecordViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Components/BestSellerView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Components/CustomCameraRepresentable.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Components/CustomTextEditor.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Components/ReadStateButton.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Components/RecentSearchView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/BookDetailView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/CreateRecordView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/ScanView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/SearchResultView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/SearchView.swift
  B.READ/B.READ/Sources/Presentation/Sentence/PageInputView.swift
  B.READ/B.READ/Sources/Presentation/Sentence/SentenceInputView.swift
  B.READ/B.READ/Sources/Presentation/Setting/CategorySelectionView.swift
  B.READ/B.READ/Sources/Presentation/Setting/NicknameView.swift
Labels: ✨ feature

#116 [Refactor] VO 폴더링 변경 및 VO정리
  B.READ/B.READ/Sources/Presentation/Common/Components/RecordPropertyRow.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/BestSellerVO.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/BookDetailVO.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/BookVO.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/MemoVO.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/QuoteVO.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/ReadingState.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/RecordCellVO.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/RecordDetailVO.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/SortState.swift
  B.READ/B.READ/Sources/Presentation/Home/HomeView.swift
  B.READ/B.READ/Sources/Presentation/Home/HomeViewModel.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryListCell.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/LibraryListView.swift
  B.READ/B.READ/Sources/Presentation/Library/LibraryView/RecordStatsView.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/LibraryRecordVO.swift
  B.READ/B.READ/Sources/Presentation/Library/ViewModel/LibraryViewModel.swift
  B.READ/B.READ/Sources/Presentation/Record/ViewModel/RecordQuoteViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/SearchVOModel.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/BookViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/NewRecordViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/SearchViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Components/RecordSearchCell.swift
Labels: ✨ feature, 🔨 refactor

#122 [feature] Webview 구현 및 화면 이동 처리
  B.READ/B.READ/Sources/App/Coordinator/MainCoordinator.swift
  B.READ/B.READ/Sources/DesignSystem/Icon/SFSymbol.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/BookDetailView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/WebView.swift
Labels: ✨ feature

#119 [feature] HomeCell UI 구현 및 기본 인터렉션 처리
  B.READ/B.READ/Sources/Presentation/Common/MainTabView.swift
  B.READ/B.READ/Sources/Presentation/Common/ValueObject/BestSellerVO.swift
  B.READ/B.READ/Sources/Presentation/Home/HomeComponentView.swift
  B.READ/B.READ/Sources/Presentation/Home/HomeView.swift
  B.READ/B.READ/Sources/Presentation/Home/HomeViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/VM/SearchViewModel.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Components/BookInfoView.swift
  B.READ/B.READ/Sources/Presentation/Search/View/Main/BookDetailView.swift
Labels: ✨ feature
